* {
    margin: 0;
    padding: 0;
}

#imgheader {
    width: 100%;
}

#imgheader {
    position: relative !important;
}

#txtprincipal {
    position: absolute;
    top: 25%;
    left: 5%;
}

#txt1 {
    font-size: 4rem;
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1;
    text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.651);
}

#divlinea {
    display: flex;
    justify-content: center;
}

#linea {
    margin: 2rem 0 2rem 0;
    width: 70%;
}

#sobrejuego {
    width: 70%;
    margin: auto;
    display: flex;
}

.imgabout {
    width: 50%;
}

.imgabout img {
    width: 100%;
}

.txtabout {
    width: 50%;
    padding: 1rem;
}

.title2sec {
    font-size: 2rem;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dosis', sans-serif;
}

.ph {
    color: rgba(190, 123, 216, 255);
    font-family: 'Bruno Ace SC', cursive;
}

.parraabout {
    color: black;
    font-size: 1.15rem;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dosis', sans-serif;
}

#secdescaga {
    background-color: #a650c0;
    min-height: 50vh;
}

.gamemulti {
    font-size: 1.2rem;
    color: #a867bb;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dosis', sans-serif;
    text-shadow: 12px 6px 10px rgba(0, 0, 0, 0.288);
}

#descargar {
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    color: black;
}

.descargar {
    border: rgba(0, 0, 0, 0.541) 0.5px solid;
    background-color: #a867bb;
    border-radius: 10px;
    padding: 0.7rem;
    margin-top: 1rem;
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    text-shadow: 12px 6px 10px rgba(0, 0, 0, 0.288);
}

#cards {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

.icon {
    margin-top: 1rem;
    width: 25%;
}

.card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a867bb;
    border: solid 0.5px solid;
}

.txtdescarga {
    text-align: center;
    color: black;
    font-size: 1.3rem;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dosis', sans-serif;
}

footer {
    min-height: 15vh;
    background-color: #f4f4f6;
}

footer p {
    font-size: 1.3rem;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
}

footer div {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

footer div a {
    width: 7%;
}

footer div a img {
    width: 100%;
}

.iconlogin {
    position: absolute;
    right: 2%;
}

#seclogin {
    min-height: 60vh;
}

#tablapreguntas {
    text-align: center;
    width: 100%;
    margin: auto;
}

#secaltacategoria {
    min-height: 80vh;
}



#secaltausu {
    min-height: 70vh;
    width: 60%;
    margin: auto;

}

#secaltausu h1 {
    text-align: center;
    margin-top: 3rem;
}

.labelaltausu {
    width: 19%;
}

#formaltausu {
    border: solid black 0.5px;
    padding: 1rem 0 1rem 0;
}

#formaltausu div {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.inputalta {
    border: none;
    border-bottom: black solid 1px;
    width: 50%;
}

#spanusuario {
    position: absolute;
    right: 12px;
}

.textoaltausu {
    display: none;
}

#guiadatos {
    margin: 2rem 0 2rem 0;
}

#botonalta {
    border-radius: 5px;
    padding: 0 0.5rem 0 0.5rem;
}



#secmodiusu {
    min-height: 80vh;
    width: 60%;
    margin: auto;
    
}

#secmodiusu h1 {
    text-align: center;
    margin-top: 4rem;
}

#tablamodiusu {

    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

#tablamodiusu tr,
th,
td {

    width: 20%;
    padding: 1rem;
    border-bottom: solid black 0.5px;
}

.paginacion {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#formModiusu {
    border: solid black 0.5px;
    padding: 1rem 0 1rem 0;

}

#formModiusu div {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#secaltacategoria {
    min-height: 80vh;
    width: 60%;
    margin: auto;
}

#secaltacategoria h1 {
    text-align: center;
    margin: 3rem 0 2rem 0;
}

#formcate {
    margin-top: 2rem;
    padding: 1rem;
    border: solid black 0.5px;
}



#formcate div {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#secaltacategoria h3 {
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

#secaltapreguntas {
    min-height: 80vh;
    width: 60%;
    margin: auto;
}

.labelaltapre {
    width: 22%;
}

.expli {
    vertical-align: top;
}

.inputpre {
    width: 70%;
    border: none;
    border-bottom: 0.5px black solid;
}

.inputfile {
    width: 70%;
    border: none;
    border-bottom: 0.5px black solid;
}

#formaltapre div {
    margin: 2rem 0 2rem 0;

    position: relative;
}

.inco {
    margin: 2rem 0 2rem 0 !important;
}

#explicacion {
    width: 70%;
}



#secaltapreguntas h1 {
    text-align: center;
    margin: 3rem 0 3rem 0;
}

#formaltapre {
    padding: 1rem;
    border: solid black 0.5px;
    margin-bottom: 2rem;
}

#formupdate {
    padding: 1rem;
    border: solid black 0.5px;
    margin-bottom: 2rem;
}



#updateimagen #respuesta {
    width: 50%;
}

#formupdate .divpreguntas {
    margin: 2rem 0 2rem 0;
    display: flex;
    position: relative;
}

#divpreguntas {
    display: block;
}

#submitpre {
    display: flex;
    justify-content: center;
}

#consulta {
    padding: 4rem 0 4rem 0;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.consulta {
    margin-right: 3rem;
}

#filtrartags {
    margin-right: 0.5rem;
}

.texto {
    width: 35% !important;
}

#divspan {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 2rem 0 2rem 0;
}

#catregistrada {
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputvacio {
    background-color: rgba(255, 0, 0, 0.10);
}

#avisopre {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.pagi {
    margin-left: 0.8rem;
    padding-bottom: 1rem;
}

#divlogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgtexto {
    width: 100%;
    display: none;
}

#modiybaja {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    flex-direction: column;
    width: 60%;
    margin: 1rem auto;
    align-items: center;
    padding-bottom: 0.5rem;
}

#modiybaja div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo{
    font-weight: bold;
    font-size: 1.05rem;
}

#modiybaja{
    display: none;
}

#spancontraseña{
    position: absolute;
    right: 15px;
}


/*    media querys    */

@media only screen and (max-width: 1550px) {

    #secaltausu {
        width: 75%;
        margin: auto;
    }

    #secmodiusu {
        width: 75%;
        margin: auto;
    }

}



@media only screen and (max-width: 1440px) {


    #txtprincipal {
        position: absolute;
        top: 10%;
        left: 3%;
    }

    #txt1 {
        font-size: 3.5rem;
        font-family: 'Bruno Ace SC', cursive;
        line-height: 1;
        text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.651);
    }

    #sobrejuego {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center
    }

    #secaltapreguntas {
        min-height: 80vh;
        width: 75%;
        margin: auto;
    }

    #cards {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.5rem;
    }

    footer div a {
        width: 15%;
    }
}


@media only screen and (max-width: 1250px) {

    #secaltacategoria {
        min-height: 80vh;
        width: 80%;
        margin: auto;
    }

    #formaltausu div {
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    #formModiusu div {
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .labelaltausu {
        width: 20%;
    }

    #secaltapreguntas {
        min-height: 80vh;
        width: 85%;
        margin: auto;
    }


}

@media only screen and (max-width: 1200px) {

    .divbotones{
        padding-top: 2rem;
    }



}


@media only screen and (max-width: 1000px) {

    .iconlogin {
        position: relative;
        right: 0;
    }


    #txtprincipal {
        position: absolute;
        top: 10%;
        left: 3%;
    }

    #txt1 {
        font-size: 2rem;
        font-family: 'Bruno Ace SC', cursive;
        line-height: 1;
        text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.651);
    }

    #sobrejuego {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center
    }

    #cards {
        width: 98%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.5rem;
    }

    #imgheader {
        height: 300px;
        background-image: url("../img/header.jpeg");
        background-origin: content-box;
        background-position-x: center;
        background-size: 1200px;
        background-repeat: no-repeat;
    }

    #imgheader img {
        display: none;
    }

    .imgabout,
    .ocultar {
        display: none;
    }

    #sobrejuego {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    #formcate div {
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .regicate {
        display: flex;
        justify-content: center !important;
    }



    #secaltausu {
        width: 90%;
        margin: auto;
    }

    #secmodiusu {
        width: 90%;
        margin: auto;
    }

    #imgtexto {
        width: 70%;
        margin: auto;
        display: block;
    }

    .card {
        margin: 1rem !important;
    }

    #secaltapreguntas {
        min-height: 80vh;
        width: 95%;
        margin: auto;
    }


    .txtabout {
        width: 100%;
        padding: 1rem;
    }

    footer div {
        width: 60%;
    }


    footer div a {
        width: 15%;
    }


}

@media only screen and (max-width: 810px) {

    .divdifi{
        padding-top: 2rem;
    }

}

@media only screen and (max-width: 750px) {

    .labelaltausu {
        width: 15%;
    }

}

@media only screen and (max-width: 700px) {

    #secaltausu {
        width: 98%;
        margin: auto;
    }

}

@media only screen and (max-width: 670px) {

    .labelaltausu {
        width: auto;
        padding: 1rem;
    }

    #formaltausu div {
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        justify-content: space-around;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    #formModiusu div {
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        justify-content: space-around;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 650px) {

    #divpreguntas {
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }


    #secaltacategoria {
        min-height: 80vh;
        width: 95%;
        margin: auto;
    }

    #formupdate .divpreguntas {
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #formupdate .incorrec {
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .inputpre {
        width: 95%;
        border: none;
        border-bottom: 0.5px black solid;
    }

    #explicacion {
        width: 95%;
    }


    .labelaltapre {
        width: auto;
        padding: 1rem;
    }

}

@media only screen and (max-width: 570px) {

    #tablamodiusu {

        display: none;
    }

    #modiybaja{
        display: block;
        margin: 2rem auto
    }


}

@media only screen and (max-width: 550px) {

    #cards {
        width: 98%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 2.5rem;
    }

    .labelaltausu {
        width: auto;
        padding: 1rem;
    }

    .inputalta {
        border: none;
        border-bottom: black solid 1px;
        width: 80%;
    }

    #formcate div {
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }


}

@media only screen and (max-width: 550px) {

    #modiybaja {
        width: 85%;
    }


}